p{
    color: rgb(0, 0, 0);
    background-color: pink;
    text-align: center;
    font-family: Arial Narrow;
    font-size: 15pt;
    font-weight: bolder;
}
h1{
    color:red;
    background-color: rgb(211, 211, 211);
}