body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(120deg, #907f9c, #0047ab);
    background-size: 200% 200%;
    animation: colorShift 4s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

@keyframes colorShift {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 10px;
    color: 	#665;
}

input[type="text"],
input[type="number"] {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #bea6cf;
    color: rgb(90, 83, 83);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3d3841;
}


